# URL подключения к базе данных SQLite
DATABASE_URL="file:./dev.db"

# Точное доменное имя вашего сервера (используется для подписей Passkeys и VLESS ссылок)
APP_DOMAIN="your-domain.ru"

# Порт для запуска приложения (по умолчанию 3000)
# PORT=3000


DATABASE_URL="file:./dev.db"

# URL удаленного сервера подписок, куда проксируются запросы от VPN-клиента Happ
SUB_BACKEND_URL="https://sub.winrar.com/example"

DEFAULT_X_HWID=""
DEFAULT_X_DEVICE_OS=""
DEFAULT_X_VER_OS=""
DEFAULT_USER_AGENT=""
DEFAULT_X_DEVICE_MODEL=""
DEFAULT_X_APP_VERSION=""
DEFAULT_ACCEPT_ENCODING=""
